:root {
  --primary-color: #0c3b2e;
  --primary-bg-color: #6d9773;
  --light-color: #fff;
  --pop-color: #ffba00;
}

h1 {
  padding-left: 1rem;
  color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}
