{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <h2>About Us</h2>
  <p>
    Welcome to MyHealthPal We are a dedicated team passionate about helping you
    achieve your health and fitness goals. Our mission is to provide
    comprehensive tools, resources, and information to guide you on your
    journey.
  </p>

  <h3>Our Story</h3>
  <p>
    We started our journey in 2023 with the aim of creating an online platform
    for individuals seeking trustworthy health and fitness advice. Over time,
    we've expanded our services to offer personalized diet plans, exercise
    regimes, and more.
  </p>

  <h3>Why Choose Us?</h3>
  <p>
    At MyHealthPal, we prioritize our users' well-being. With a user-friendly
    interface, expert advice, and a wide array of resources, we are your go-to
    destination for all things health and fitness.
  </p>
</div>
{% endblock %}
